body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100vh, 100%);

  justify-content: center;
  align-items: center;
}

.progress-container {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  z-index: 1000;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.progress-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #ddd;
  color: #333;
  position: relative;
  border-radius: 100%;
  text-align: center;

  border: 2px solid #8f8f8f;
  cursor: pointer;
}

.progress-step.active {
  border-color: #007bff;
  color: #fff;
}

.progress-bar {
  left: 0;
  position: absolute;
  flex: 1; /* Fills remaining space */
  width: 17.5%;
  height: 5px;
  background-color: hsl(120, 100%, 50%);
  transition: all 0.5s ease-in-out;
}
